{% extends 'base.html.twig' %}

{% block title %}
    Редактировать пост - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Редактирование поста</h1>

            {% include 'post/form.html.twig' with {'form': form} %}

        <a href="{{ path("homepage") }}"><button class="btn btn-secondary btn-md btn-block">Вернуться на главную</button></a>

    </div>
{% endblock %}


